 .dec.qtybutton {
    display: none !important;
  }
    .plus.qtybutton {
    display: none !important;
  }

  .netPrice{
    font-size: 35px !important;
  }

.discount_price{
  font-size: 24px !important;
}